<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medico</h4>
                <h6 class="card-subtitle">Update Info</h6>
                <form class="form p-t-20" [formGroup]="medicoForm" (submit)="saveMedico()">
                    <div class="form-group" *ngIf="selectedMedico">
                        <label for="exampleInputuname">Image</label>
                        <div class="input-group">
                            <img [src]="selectedMedico.img | image: 'medicos'" width="200px">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputuname">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname"
                                placeholder="Name of the medico" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <div class="input-group">
                            <select class="form-control" formControlName="hospital">
                                <option value="">Select an Hospital</option>
                                <option *ngFor="let hospital of hospitals" [value]="hospital._id">{{hospital.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
                        [disabled]="medicoForm.invalid">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                    <button routerLink="/dashboard/medicos" type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 animated fadeIn fast" *ngIf="selectedHospital">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{selectedHospital.name}}</h6>

                <img [src]="selectedHospital.img | image:'hospitals'" width="200px">
            </div>
        </div>
    </div>
</div>